/*Background*/
            
    body {
        background-color: #393939;
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
    }
            
/*Fixed Header*/
                
        .MenuItem {
            font-size: 25px;
            display: inline-block;
            vertical-align: middle;
            padding: 0px 50px 0px 50px;
        }

        nav {
            width: 100%;
            position: fixed;
            top: 0px;
            left: 0px;
            box-shadow: #FF5A09 0px 2px 4px, #FF5A09 0px 4px 12px;
            /*box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px, rgba(26, 26, 29, 0.08) 0px 4px 12px;*/
            background-color: #393939;
            text-align: center;
        }
            
        .MenuItemLinks {
            text-decoration: none;
            color: #FF5A09;
            -webkit-transition: 0.2s all ease;
            -moz-transition: 0.2s all ease;
            -o-transition: 0.2s all ease;
            transition: 0.2s all ease;
        }

    /*Hover effects*/

        .MenuItemLinks:hover{
            color: #f5f5f5;
        }


/*Content Container*/

    #ContentContainer {
        margin-top: 63px;
    }

/*Spotify*/

    #SpotifyFramesContainer {
        margin: 100px 0px 0px 0px;
        display: inline-block;
    }

    #SpotifyFramesContainerOuter {
        text-align: center;
    }

    #lowerLovedayIFrame, #subtleCulpritsIFrame {
        border-radius: 20px !important;
    }


/*Soundcloud*/

    #SoundcloudFramesContainer {
        margin: 100px 0px 0px 0px;
        display: inline-block;
    }

    #SoundcloudContainerOuter {
        text-align: center;
    }

    #SoundCloudLink1 {
        border-radius: 20px !important;
    }

/*Info*/

    #InfoPhotoFramesContainer {
        margin: 30px 0px 0px 0px;
        display: inline-block;
    }

    #InfoPhotoFramesContainerOuter {
        text-align: center;
    }

    .InfoPictures {
        height: 300px;
        width: auto;
        margin: 10px;
        border-radius: 10px;
    }

/*Youtube*/

    #YoutubeVideo1 {
        border-radius: 20px !important;
    }

/*Website content*/

    p {
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        color: #FC4A1A; 
    }
